<h1>About Jamaris Buford</h1>
<div class="card-panel teal lighten-1">I started out as a student athlete at Vestavia Hills High School, I'm the small one wearing #6.</div>
<div class="parallax-container" ng-controller="parrallaxController">
        <div class="parallax"><img src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/294623_3078518460354_479674288_n.jpg?oh=645063b8c3db5e9478b9ae8135549b3e&oe=5A1A770F"></div>
      </div>
      <div class="section white">
        <div class="row container">
          <h2 class="header">High School</h2>
          <p class="grey-text text-darken-3 lighten-3">I learned a lot of good things in High School, one of the most important things i still use today is my work ethic to be the best at what i do. As I attended High School I also worked at Western Suppermarket down the hill from my school. So after practice, from my Sophmore to Senior year, I would shower and change into my work clothes, walk down the hill and clock-in.</p>
        </div>
      </div>
      <div class="card-panel teal lighten-1">After High-School, I was blessed with an athletic scholarship to Miles College, here's a picture from signing day, still the small one but with the purple hat.</div>
      <div class="parallax-container">
        <div class="parallax"><img src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/529614_4650405543760_614443673_n.jpg?oh=9431feddc0799efd1d1e8042b1aa4cb1&oe=5A5C4BB4"></div>
      </div>
      <div class="section white">
            <div class="row container">
              <h2 class="header">College</h2>
              <p class="grey-text text-darken-3 lighten-3">Being a student athlete in college was much different than high school. From 4:30 a.m. practices to 3-A-Days in the hot sun, it all taught me how to focus on what was really important. I learned quickly how to manage my time accordingly, prioritize things that needed to be done, and most of all do as much as I could in one day.</p>
            </div>
          </div>
        <div class="parallax-container">
            <div class="parallax"><img src="../app/images/1172587_634287576656591_1542610502_n.jpg"></div>
        </div>